name: 'CI'

on:
  push:

jobs:
  build:
    name: 'Build'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: 'Setup Gradle'
        uses: gradle/gradle-build-action@v2

      - name: 'All Tests'
        run: ./gradlew testDebugUnitTest

      - name: 'Bundle Android'
        run: ./gradlew bundle
